{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="about_container">
<h1>About the Developer</h1>
<img class="about_img" src="{% static 'img/about.JPG' %}" alt="MISSING-IMG">

    <p class="about_p">
        My name is Patrick Ryan. I am a new software developer focusing on Full Stack programming. My studies include HTML, CSS, JavaScript, React, Python, Django, RESTful API, Flask, SQL, Mongo DB, Bootstrap and JQuery. In my off time, I enjoy surfing and skiing as well as going on long hikes through nature with my Wife and dogs! 
    </p>

</div>


{% endblock content %}